MobileApplication/App/wouldyourather/android/java_pid33997.hprof
MobileApplication/App/wouldyourather/android/java_pid81783.hprof
.DS_Store
MobileApplication/App/wouldyourather/android/java_pid1029.hprof
MobileApplication/App/wouldyourather/android
