.App {
  text-align: center;
  height: 100vh;
  width: 100%;
}

body {
  height: 100vh;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Validate-container {
  display: grid;
  grid-template-columns: 2fr 3fr 1fr 3fr 2fr;
  grid-template-rows: 1.5fr 2.5fr 1fr;
  grid-template-areas: 
        "t logo logo logo tt"
        "space1 firstq orspace secondq space"
        "t1 decline t2 accept t3";

    grid-gap: 4px;
    z-index: 0;
    height: 100vh;
    width: 100%;
  background-color: #292929;
}

.Validate-first-question{
  display: flex;
  background-color: red;
  color: white;
  vertical-align: middle;
  grid-area: firstq;
  text-align: center;
  align-items: center;  
  justify-content: center;
}

.Validate-second-question{
  display: flex;
  background-color: blue;
  color: white;
  vertical-align: middle;
  grid-area: secondq;
  text-align: center;
  align-items: center;  
  justify-content: center;
}

.Validate-or {
  background-color: #284888;
  color: white;
  display: flex;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  justify-self: center;
  align-self: center;
  grid-area: orspace;
  align-items: center;  
  justify-content: center;
}

.Validate-accept{
  display: flex;
  color: white;
  grid-area: accept;
  background-color: #00c03a;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  justify-self: center;
  align-self: center;
  align-items: center;  
  justify-content: center;
}

.Add-accept{
  display: flex;
  color: white;
  grid-area: t2;
  background-color: #d835354f;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  justify-self: center;
  align-self: center;
  align-items: center;  
  justify-content: center;
}

.Validate-decline {
  display: flex;
  color: white;
  text-decoration: none;
  grid-area: decline;
  background-color: #c00000;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  justify-self: center;
  align-self: center;
  align-items: center;  
  justify-content: center;
}

.Validate-logo {
  display: flex;
  color: white;
  grid-area: logo;
  justify-self: center;
  align-self: center;
  align-items: center;  
  justify-content: center;
}

.Validate-back {
  border-radius: 10px;
  text-decoration: none;
  background-color: #1c3b79;
  display: flex;
  color: white;
  grid-area: t2;
  width: 100px;
  height: 50px;
  justify-self: center;
  align-self: center;
  align-items: center;  
  justify-content: center;
}

.Main-login-container {
  background-color: #282c34;
  display: grid;
  grid-template-columns: 1fr 50vw 1fr;
  grid-template-rows: 1fr 45vh 1fr;
  grid-template-areas: 
        "t log tt"
        "space1 login space"
        "t1 t1 t3";
    grid-gap: 4px;
    z-index: 0;
    height: 100vh;
    width: 100%;
}

.Main-login-panel {
  position: relative;
  grid-area: login;
  background-color: #2467e2;
  display: grid;
  grid-template-columns: 1fr 40% 10px 40% 1fr;
  grid-template-rows: 1fr 8% 25% 3fr;
  grid-template-areas: 
        "f free free free fe"
        "f password v username fe"
        "f passwordinput b usernameinput fe"
        "f signup d sub fe";
  height: 100%;
  width: 100%;
  grid-gap: 4px;
}

.Main-login-logo-text {
  color :white;
  font-size: 30px;
  grid-area: free;
  text-align: center;
  z-index: 1;
  margin-top: 35px;
}

.Main-login-panel-username {
  display: flex;
  flex-direction: column;
  grid-area: username;
  color: white;  
  align-items: center;  
  justify-content: flex-end;
  z-index: 1;
}

.Main-login-panel-password {
  display: flex;
  flex-direction: column;
  grid-area: password;
  color: white;  
  align-items: center;  
  justify-content: flex-end;
  z-index: 1;
}

.Main-login-panel-username-input {
  display: flex;
  grid-area: usernameinput;
  align-items: center;  
  justify-content: center;
  z-index: 1;
}

.Main-login-panel-password-input {
  display: flex;
  grid-area: passwordinput;
  align-items: center;  
  justify-content: center;
  z-index: 1;
}

.Main-login-logo {
  position: relative;
  color: white;
  font-size: 50px;
  align-items: center;  
  justify-content: center;
  align-self: center;
  justify-self: center;
  text-align: center;
}

.Main-login-panel-submit {
  display: flex;
  align-self: center;
  justify-self: center;
  grid-area: sub;
  border-radius: 10px;
  background-color: #292929;
  height: 50px;
  width: 50%;
  align-items: center;  
  justify-content: center;
  z-index: 1;
}
::placeholder{
  color: white;
}

.Main-login-panel-signup {
  display: flex;
  align-self: center;
  justify-self: center;
  grid-area: signup;
  border-radius: 10px;
  background-color: #292929;
  top:50px;
  height: 50px;
  width: 50%;
  align-items: center;  
  justify-content: center;
  z-index: 1;
}

.submit {  
  border-radius: 10;
  background-color: #292929;
  height: 100%;
  width: 100%;
}

.Main-view-login-container {
  background-color: #282c34;
  display: grid;
  grid-template-columns: 1fr 20% 20% 1fr;
  grid-template-rows: 1fr 20% 20% 1fr;
  grid-template-areas: 
        "t d d t1"
        "t addq checkq t1"
        "t userList questionList t1"
        "t f f t1";
    z-index: 0;
    height: 100vh;
    width: 100%;
}
.Main-view-login-logo {
  color: white;
  grid-area: free;
  font-size: 50px;
  align-items: center;  
  justify-content: center;
}

.Main-view-login-add-question {
  display: flex;
  color: white;
  border-top-left-radius: 10px;
  text-decoration: none;
  grid-area: addq;
  width: 100%;
  height: 100%;
  background-color: #d42222;
  align-items: center;  
  justify-content: center;
  
  justify-self: center;
}

.Main-view-login-user-list {
  display: flex;
  grid-area: userList;
  color: white;
  border-bottom-left-radius: 10px;
  text-decoration: none;
  width: 100%;
  height: 100%;
  background-color: #2467e2;
  align-items: center;  
  justify-content: center;
  
  justify-self: center;
}

.Main-view-login-question-list {
  display: flex;
  grid-area: questionList;
  border-bottom-right-radius: 10px;
  color: white;
  text-decoration: none;
  width: 100%;
  height: 100%;
  background-color: #d42222;
  align-items: center;  
  justify-content: center;
  
  justify-self: center;
}

.Main-view-login-check-question {
  display: flex;
  grid-area: checkq;
  color: white;
  border-top-right-radius: 10px;
  text-decoration: none;
  width: 100%;
  height: 100%;
  background-color: #2467e2;
  align-items: center;  
  justify-content: center;
  
  justify-self: center;
}
